artifacts/
dataset/*
!dataset/getdata.sh
dvc-store/*
.ipynb_checkpoints
logs
/metrics.json
mlflow.log
mlflow.pid
mlflow.db
/models
out
report/*
!report/report.tex
!report/report.pdf
src/__pycache__
venv
